<div>
<table style="width="100px";text-align="center"">
   <tr>
       <th>ID</th>
       <th>Name</th>
       <th>Email</th>
   </tr>
   <tr>
       <td>1</td>
       <td>Maung Maung</td>
       <td>maungmaung@gmail.com</td>
    </tr>
</table>
</div>
